* {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
	  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
body{
	background-image:url('IMG/6.jpg');
	width: 100%;
	height:300%;
	background-size: cover;
	color:rgb(245, 255, 246);
	
}
h1 {
	text-align: center;
	font-size: 40px;
	color: white;
  }

  

